@charset "UTF-8";

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Estilo da barra de rolagem */
body::-webkit-scrollbar {
    width: .3em;
}
   
body::-webkit-scrollbar-track {
    box-shadow: transparent;
}
   
body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #ffbc51;
}

/* Estilos gerais */
/* --------------------------------------- */
* {
    margin: 0;
    padding: 0;
    color: #fff;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

html, body {
    height: 100%;
    scroll-behavior: smooth;
    background-color: #091931;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

p {
    font-size: 16px;
}

/* Estilos Folha de rosto */
/* --------------------------------------- */
.header {
    display: flex;
    height: 100%; /* Ocupa toda a altura da tela */
    width: 100%;  /* Ocupa toda a largura da tela */
    overflow: hidden;
    flex-wrap: wrap;
}

.course {
    flex: 1;
    height: 100%;
    display: flex;
    cursor: pointer;
    min-width: 300px;
    object-fit: cover;
    align-items: center;
    background-size: cover;
    justify-content: center;
    background-position: center;
    transition: transform 1s ease, filter 1s ease, box-shadow 1s ease;
}

.course-info {
    width: 70%;
    color: #fff;
    padding: 20px;
    text-align: left;
    border-radius: 20px;
    background-color: #00000080;
    transition: background-color 0.3s ease;
}

.course-info h2 {
    font-size: 28px;
    position: relative;
    margin-bottom: 10px;
}

/* Adiciona uma linha sob o h2, que inicialmente é invisível */
.course-info h2::after {
    content: '';

    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.4s ease, left 0.4s ease;
    
    position: absolute;
    left: 0%; /* Centraliza a linha por padrão */
    bottom: -5px; /* Distância do h2 */
}

.course-info p {
    font-size: 20px;
}

.course-info i{
    font-size: 25px;
    margin-right: 1em;
}

.text-info {
    padding: 1em;
}

.text-info p {
    margin: 10px 0;
}

.icon {
    width: 25px;
    height: 25px;
    text-align: center;
}

/* Efeitos de seleção */
.course.selected {
    filter: saturate(1.2);
    transform: scale(1.05);
    filter: drop-shadow(0 0px 10px #000000cc);
}

.course.selected .course-info {
    background-color: #0000008c;
}

/* Quando o container é selecionado, a linha embaixo do h2 se expande */
.course.selected .course-info h2::after {
    left: 0; /* Alinha a linha ao início do texto */
    width: 100%; /* Expande a linha para ocupar toda a largura do h2 */
}

/* Estilo e variações de botões */
/* --------------------------------------- */
.btn {
    color: #fff;
    display: flex;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    padding: 10px 20px;
    align-items: center;
    text-decoration: none;
    transition: background .5s ease;
    font-family: "Montserrat", sans-serif;
}

.course01-color-btn {
    background-color: #ff7300;
}

.course01-color-btn:hover {
    background-color: #e66100;
}

.course02-color-btn {
    background-color: #39B8FF;
}

.course02-color-btn:hover {
    background-color: #2e94cf;
}

.inscription-btn {
    background-color: #39B8FF;
    padding: 0 50px;
}

.inscription-btn:hover {
    background-color: #2e94cf;
}

/* Estilo e variações de botões */
/* --------------------------------------- */
.btn {
    color: #fff;
    display: flex;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    padding: 10px 20px;
    align-items: center;
    text-decoration: none;
    transition: background .5s ease;
    font-family: "Montserrat", sans-serif;
}

.course01-color-btn {
    background-color: #ff7300;
}

.course01-color-btn:hover {
    background-color: #e66100;
}

.course02-color-btn {
    background-color: #39B8FF;
}

.course02-color-btn:hover {
    background-color: #2e94cf;
}

.inscription-btn {
    background-color: #39B8FF;
    padding: 0 50px;
}

.inscription-btn:hover {
    background-color: #2e94cf;
}

/* Media Queries para Responsividade */
/* --------------------------------------- */

/* Telas menores que 600px (smartphones) */
@media (max-width: 600px) {
    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 18px;
    }

    h5 {
        font-size: 16px;
    }

    p {
        font-size: 14px;
    }

    .header {
        flex-direction: column;
        
    }

    .course-info {
        width: 80%;
        padding: 15px;
    }

    .course-info h2 {
        font-size: 24px;
    }

    .course-info p {
        font-size: 16px;
    }

    .btn {
        font-size: 16px;
        padding: 8px 16px;
    }

    .inscription-btn {
        padding: 0 30px;
    }
}

/* Telas de 601px a 768px (tablets em modo retrato) */
@media (min-width: 601px) and (max-width: 768px) {
    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 20px;
    }

    h5 {
        font-size: 18px;
    }

    p {
        font-size: 16px;
    }

    .course-info {
        width: 80%;
        padding: 20px;
    }

    .course-info h2 {
        font-size: 26px;
    }

    .course-info p {
        font-size: 18px;
    }

    .btn {
        font-size: 18px;
        padding: 10px 20px;
    }

    .inscription-btn {
        padding: 0 40px;
    }
}

/* Telas de 769px a 992px (tablets em modo paisagem) */
@media (min-width: 768px) and (max-width: 992px) {
    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 28px;
    }

    h4 {
        font-size: 24px;
    }

    h5 {
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }

    .course-info {
        width: 75%;
        padding: 20px;
    }

    .course-info h2 {
        font-size: 28px;
    }

    .course-info p {
        font-size: 18px;
    }

    .btn {
        font-size: 18px;
        padding: 10px 20px;
    }

    .inscription-btn {
        padding: 0 45px;
    }
}

/* Telas de 993px a 1200px (monitores de médio porte) */
@media (min-width: 992px) and (max-width: 1200px) {
    h2 {
        font-size: 34px;
    }

    h3 {
        font-size: 30px;
    }

    h4 {
        font-size: 26px;
    }

    h5 {
        font-size: 22px;
    }

    p {
        font-size: 18px;
    }

    .course-info {
        width: 70%;
        padding: 20px;
    }

    .course-info h2 {
        font-size: 30px;
    }

    .course-info p {
        font-size: 20px;
    }

    .btn {
        font-size: 18px;
        padding: 10px 20px;
    }

    .inscription-btn {
        padding: 0 50px;
    }
}

.container-info {
    margin: 20px;
    text-align: center;
}

/* Estilo e variações de cards */
/* --------------------------------------- */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 300px;
    margin: 50px 40px;
    display: flex;
    text-align: center;
    border-radius: 20px;
    flex-direction: column;
    background-color: #ffffff;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.card-style-01 {
    padding: 40px;
    justify-content: center;
    background: linear-gradient(to top right, #fff, #D0E2FD) ;
      
}

.card-style-02 {
    width: 250px;
}

.card-style-02 img {
    object-fit: cover;
    object-position: top;
    background-size: cover;
}

.card img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card:hover {
    transform: translateY(10px);
    filter: drop-shadow(5px 5px 10px #00000042);
}

.card i {
    font-size: 5em;
    color: #001F3F;
    margin-bottom: 10%;
}

.card h5 {
    color: #252B42;
}

.card h3 {
    color: #252B42;
    padding: 10px;
}

.card p {
    color: #737373;
    margin-top: 10px;
}

.card-info {
    flex: 1;
    padding: 10px;   
}

.studant, .entire {
    overflow: hidden;
}

/* Estilo de cards para cursos */
.studant h3, .entire h3 {
    color: #fff;
    padding: 20px;
    background-color: #091931;
}

.studant p, .entire p {
    flex: 1;
    padding: 20px;
    display: flex;
    color: #252B42;
    align-items: center;
    justify-content: center;
}

/* Estilo para sessão ementa */
/* --------------------------------------- */
.info-box {
    width: 80%;
    display: flex;
    padding: 20px;
    margin: 2em auto;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    background-color: #ffffff1a;
}

.info-box ul {
    margin: 10px;
    display: grid;
    text-align: left;
    list-style-type: disc;
    grid-template-columns: repeat(3, 2fr);
}

.info-box ul li {
    margin: 5px 0;
    font-size: 1.1em;
}

.info-box p {
    margin: 10px 0;
    font-size: 1.1em;
    line-height: 1.5;
    text-indent: 20px;
    text-align: justify;
}

.tab {
    display: flex;
    justify-content: space-around;
}

.tablink {
    width: 15%;
    cursor: pointer;
    transition: 0.3s;
    padding: 14px 16px;
    text-align: center;
    border-radius: 20px;
}

.tablink:hover {
    background-color: #021026;
}

.tablink.active {
    color: #fff;
    background-color: #001F3F;
}

.tabcontent {
    display: none;
    text-align: left;
    border-top: none;
    animation: fadeEffect 1s; /* Animação de transição suave */
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.paragraph {
    padding: 20px 0;
}

/* Celulares (até 600px) */
@media (max-width: 600px) {
    .info-box ul {
        margin: 10px;
        display: grid;
        text-align: left;
        list-style-type: disc;
        grid-template-columns: repeat(1, 1fr);
    }

    .tab {
        display: flex;
        overflow-x: auto;
        flex-direction: row;
        scroll-snap-type: x mandatory; /* Adiciona o scroll snap */
        -webkit-overflow-scrolling: touch; /* Suaviza o scroll em dispositivos iOS */
    }

    .tab::-webkit-scrollbar {
        display: none;
      }

    .tablink {
        width: 60%;
        flex: 0 0 auto;
        text-align: center;
        margin-bottom: 10px;
        scroll-snap-align: start; /* Cada tablink "trava" no início */
    }

    .tablink:last-child{
        margin-right: 150px;
    }

    .tabcontent {
        width: 100%;
        padding: 30px;
    }

    .card-container {
        align-items: center;
    }

    .card-style-02 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .card-style-02 p {
        margin-top: 10px;
    }

    .card-style-02 img {
        height: 200px;
        border-radius: 10px;
        box-shadow: 0 5px 5px #00000090;
    }

    .card-info {
        align-self: center;
    }

    .card {
        width: 80%; /* Ocupa toda a largura da tela */
        margin: 20px 0;
    }

    .card-style-01 {
        padding: 20px;
    }

    .card h3, .card p {
        font-size: 1em; /* Ajusta o tamanho das fontes */
    }
}


/* Celulares (600px até 768px) */
@media (min-width: 600px) and (max-width: 768px) {
    .tablink {
        width: 30%;
    }

    .card-container {
        justify-content: space-around;
    }

    .card {
        width: 80%;
        margin: 20px 0;
    }

    .card img {
        height: 250px;
    }

    .card-style-01 {
        padding: 30px;
    }

    .card-style-02 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .card-style-02 p {
        margin-top: 16px;
    }

    .card-style-02 img {
        height: 200px;
        border-radius: 10px;
        box-shadow: 0 5px 5px #00000090;
    }

    .card-info {
        align-self: center;
    }

    .card h3 {
        font-size: 1.2em;
    }

    .card p {
        font-size: 0.9em;
    }
}

/* Tablets (768px até 992px) */
@media (min-width: 768px) and (max-width: 992px) {
    .tablink {
        width: 20%;
    }

    .card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .card {
        width: 80%;
        margin: 30px;
    }

    .card img {
        height: 300px;
    }

    .card-style-01 {
        padding: 35px;
    }

    .card-style-02 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .card-style-02 p {
        margin-top: 16px;
    }

    .card-style-02 img {
        height: 200px;
        border-radius: 10px;
        box-shadow: 0 5px 5px #00000090;
    }

    .card-info {
        align-self: center;
    }

    .card h3 {
        font-size: 1.4em;
    }

    .card p {
        font-size: 1em;
    }
}

/* Desktops (992px até 1200px) */
@media (min-width: 992px) and (max-width: 1200px) {
    .tablink {
        width: 15%;
    }

    .card-container {
        justify-content: space-around;
    }

    .card {
        width: 35%;
        margin: 35px;
    }

    .card img {
        height: 350px;
    }

    .card-style-01 {
        padding: 40px;
    }

    .card-style-02 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .card-style-02 p {
        margin-top: 16px;
    }

    .card-style-02 img {
        height: 300px;
    }

    .card-info {
        height: 150px;
        display: flex;
        align-self: center;
        flex-direction: column;
        justify-content: center;
    }

    .card h3 {
        font-size: 1.6em;
    }

    .card p {
        font-size: 1.1em;
    }
}
/* Estilo para sessão de inscrições */
/* --------------------------------------- */
#inscription {
    display: flex;
    padding: 40px 20px;
    text-align: center;
    align-items: center;
    flex-direction: column;
    background-color: #021026;
    justify-content: space-between;
}

#inscription h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

#inscription p {
    font-size: 1.5em;
    font-style: bold;
}

/* Estilo para tabela */
/* --------------------------------------- */
table {
    flex: 1;
    margin: 0 auto;
    max-width: 100%;
    overflow: hidden;
    border-radius: 10px;
    border-collapse: collapse;
}

th, td {
    padding: 20px;
    font-size: 0.9em;
    text-align: center;
}

thead {
    color: #fff;
    background-color: #001F3F;
}

th {
    font-weight: bold;
}

tbody {
    background-color: #fff;
}

td {
    color: #252B42;
}

tbody tr {
    background-color: #fff;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    transform: scale(1.02);
    filter: drop-shadow(0 0 8px #00000066);
    transition: transform 0.3s ease, filter 0.3s ease;
}


.batch-time {
    width: 100%;
    padding: 80px;
}

#rd-counter-lzsxjnwr {
    flex: 1;
    display: flex;
    padding: 0 20px;
    flex-direction: row;
    
    position: absolute;
    right: 0;   
}

.counter-days {
    display: flex;
    color: #fff;
    margin-right: 20px;
    flex-direction: column;
}

.counter-days .label {
    margin: 0 5px;
    font-size: 30px;
    color: #FF4646;
    font-weight: bolder;
    text-transform: uppercase;
}

.text {
    display: flex;
    flex-direction: row;
}


@media (max-width: 600px) {
    #inscription h2 {
        font-size: 1.8em;
    }

    #inscription p {
        font-size: 1.2em;
    }

    .studant, .entire {
        flex: 1;
        height: 150px;
        margin: 0 10px;
    }

    table, th, td {
        font-size: 0.8em;
        padding: 10px;
    }
}

@media (min-width: 601px) and (max-width: 768px) {
    #inscription h2 {
        font-size: 2.2em;
    }

    #inscription p {
        font-size: 1.4em;
    }

    table, th, td {
        font-size: 0.9em;
        padding: 15px;
    }

}

@media (min-width: 769px) and (max-width: 992px) {
    #inscription h2 {
        font-size: 2.5em;
    }

    #inscription p {
        font-size: 1.5em;
    }

    table, th, td {
        font-size: 1em;
        padding: 20px;
    }
}

@media (min-width: 993px) {
    #inscription h2 {
        font-size: 2.5em;
    }

    #inscription p {
        font-size: 1.5em;
    }

    table, th, td {
        font-size: 1em;
        padding: 20px;
    }
}

/* Estilo para rodapé */
/* --------------------------------------- */
#footer-container {
    height: 120px;
    display: flex;
    padding: 40px 20px;
    align-items: center;
    justify-content: center;
    background-color: #ebebeb;
}

#footer-container h4 {
    color: #737373;
}

.row {
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

.icon-row i {
    font-size: 40px;
    margin: 10px;
}

.icon-row .icon-whatsapp {
    color: #25D366;
    transition: color 1s ease, transform 1s ease;
}
.icon-row .icon-whatsapp:hover {
    color: #43df7c;
    transform: scale(1.1);
}

.icon-row .icon-instagram {
    background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045, #833ab4, #fd1d1d, #fcb045);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    color: transparent;
    background-clip: text;
    background-size: 300%;
    transition: background-size 0.5s ease, transform 1s ease;
}

.icon-row .icon-instagram:hover {
    transform: scale(1.1);
    animation: gradientMove 3s infinite ease; /* Animação em loop contínuo */
}

.logo-footer {
    width: 200px;
    height: auto;
    background-size: cover;
}

.dropdown {
    display: inline-block;
    position: relative;
    cursor: pointer;
  }
  
  .dropdownContent {
    z-index: 1;
    display: none;
    min-width: 160px;
    border-radius: 1em;
    position: absolute;
    background-color: #fafafa;
    box-shadow: 0 8px 16px 0px #0000000f;
  }
  
  .dropdownContent a {
    display: block;
    text-align: left;
    color: #252B42;
    border-radius: 1em;
    padding: 12px 16px;
    text-decoration: none;
  }
  
  .dropdownContent a:hover {
    background-color: #dedede;
  }
  
  .dropdownContent a:active {
    background-color: #0000001b;
  }
  
  .dropdown:hover .dropdownContent {
    display: inline-block;

    position: absolute;
    bottom: 20px;
  }
  

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 90% 50%;
    }
}

@media (max-width: 600px) {
    .row {
        width: 100%;
        justify-content: space-around;
    }

    .icon-row i {
        font-size: 30px;
    }

    .logo-footer {
        width: 150px;
    }

    .dropdownContent {
        min-width: 120px;
    }
}


@media (min-width: 601px) and (max-width: 768px) {
    .row {
        width: 90%;
        justify-content: space-between;
    }

    .icon-row i {
        font-size: 35px;
    }

    .logo-footer {
        width: 180px;
    }

    .dropdownContent {
        min-width: 140px;
    }
}


@media (min-width: 769px) and (max-width: 992px) {
    .row {
        width: 85%;
    }

    .icon-row i {
        font-size: 35px;
    }

    .logo-footer {
        width: 180px;
    }

    .dropdownContent {
        min-width: 150px;
    }
}


@media (min-width: 993px) and (max-width: 1200px) {
    .row {
        width: 80%;
    }

    .icon-row i {
        font-size: 38px;
    }

    .logo-footer {
        width: 200px;
    }

    .dropdownContent {
        min-width: 160px;
    }
}


@media (min-width: 1201px) {
    .row {
        width: 75%;
    }

    .icon-row i {
        font-size: 40px;
    }

    .logo-footer {
        width: 200px;
    }

    .dropdownContent {
        min-width: 160px;
    }
}